.bundle/
*.log
pkg/
test/dummy/tmp/
test/dummy/db/test.sqlite3-*
test/dummy/.sass-cache
*.gem
/.idea
tags
*.DS_Store
Gemfile.lock
/gemfiles/*.lock

*.sqlite3
.rakeTasks
TODO.md

.tool-versions
test/dummy/db/test.sqlite3
mise.toml
